.StarWars input {
    border: 1px solid;
    padding: 15px;
    font-size: 15px;
    margin: 0;
    border-radius: 0.5em 0 0 0.5em;
  }
  
.StarWars button {
    border: 1px solid black;
    padding: 15px;
    font-size: 15px;
    margin: 0;
    background-color: black;
    color: white;
}


.StarWars h1 {
  /* color: green; */
  font-family: 'weather';
  font-size: 60px;
  margin: 10px;
}


.StarWars h4 {
  /* color: rgb(8, 0, 165); */
  font-size: 30px;
  margin: 5px;
}

.Character {
    max-width: 1200px;
    margin: auto;
    border: 5px solid #F5F5F5;
    
}

  /* Smaller screens and tablets */
  @media only screen and (max-width: 960px) {
    .Character {
        grid-template-columns: 1fr 1fr;
    }
  }
  
  /* Small screens mobile */
  @media only screen and (max-width: 700px) {
    .Character {
        grid-template-columns: 1fr;
    }
  } 